.DS_Store
*.swp
*~.nib

build/

Bouncing Ball.xcodeproj/*.pbxuser
Bouncing Ball.xcodeproj/*.perspective
Bouncing Ball.xcodeproj/*.perspectivev3
Bouncing Ball.xcodeproj/*.mode1v3
Bouncing Ball.xcodeproj/*.mode2v3
Bouncing Ball.xcodeproj/xcuserdata
